.password-div {
    position: relative;

}
.password-div .eye-icon {
    position: absolute;
    top: 0;
    transform: translateY(45%);
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}